{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1>CS:GO Sitting Duck</h1>
    <p>
        This website will show you a heatmap to help you understand your
        movements patterns during the game.
        The idea is to use the CS:GO game integration to receive data from your
        position during the match and use that data to plot a heatmap showing
        spots that you usualy are or if you are rushing too much. Second thing
        would be the location where you were killed to help you understand if you
        are dying in open areas without cover.  
    </p>
</div>
<div class="container text-muted">
    <span>Build with Python Flask</span>
</div>
{% endblock content %}
